<div class="page" id="homepage">
    <img src="../static/images/wang.jpg" class="bg-bg">
    <div class="mask"></div>
    <!-- <div class="toTimeline" @click="toTimeline"></div> -->
    <div class="detail-info">
        <img src="../static/images/wang.jpg" class="head-logo">
        <div class="name">李小花</div>
        <div class="pos">地图客户端</div>
        <div class="status">吧啦吧啦吧啦吧啦啦</div>
    </div>
    <div class="detail-bottom">
        <div class="col">
            <div class="row-title">Posts</div>
            <div class="row-no">134</div>
        </div>
        <div class="col">
            <div class="row-title">Likes</div>
            <div class="row-no">1632</div>
        </div>
        <div class="col">
            <div class="row-title">hehe</div>
            <div class="row-no">83</div>
        </div>
    </div>
</div>